// Color styles from logo and old page
$lm-ci: #00A8C6;
$lm-ci-hover: #00d3f9;
$lm-ci-text: #F9F2E7;
$lm-global-bg: hsla(0, 0%, 94%, 1);
$lm-card-bg: rgb(250, 250, 250);

@mixin box-shadow() {
  background: $lm-card-bg;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

@mixin responsive-block() {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: rgb(33, 33, 33);
  font-weight: 400;
  background: $lm-global-bg;
  letter-spacing: 0;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

blockquote {
  border-left: 5px solid $lm-ci;
  padding: 20px;
}

a {
  color: $lm-ci;
  text-decoration: none;
  &:hover {
    color: $lm-ci-hover;
  }
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

p, ol, ul, li, legend {
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
}

h1, h2, h3 {
  letter-spacing: 3px;
}

h4, h5 {
  letter-spacing: 1.5px;
}

.abstract {
  font-weight: 400;
}

footer {
  position: relative;
  bottom: 0;
  min-width: 100vw;
  height: 65px;
  background-color: black;
  ul {
    max-height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    li {
      float: left;
      a {
        display: inline-block;
        color: $lm-ci-text;
        text-align: center;
        padding: 20px 16px;
        font-size: 16px;
        &:hover {
          color: $lm-ci-text;
          background-color: $lm-ci-hover;
        }
      }
    }
  }
}

nav {
  position: absolute;
  top: 0;
  min-width: 100vw;
  background-color: transparent;
  .logo {
    float: left;
    padding: 20px;
  }
  ul {
    margin: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    li {
      float: left;
      a {
        display: inline-block;
        color: $lm-ci-text;
        text-align: center;
        padding: 14px 16px;
        font-size: 20px;
        &:hover {
          color: $lm-ci-text;
          background-color: $lm-ci-hover;
        }
      }
    }
  }
}

.button, .subscribe-notice-button {
  color: $lm-ci-text;
  font-weight: 200;
  background-color: $lm-ci;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 100px;
  line-height: 2.5;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border: none;
  max-width: 100%;
  &:hover {
    color: $lm-ci-text;
    background-color: $lm-ci-hover;
  }
  @media only screen and (max-width : 480px) {
    font-weight: 400;
    padding-left: 1em;
    padding-right: 1em;
  }
}

header {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
  .lernmoment-headline {
    font-size: 12vmin;
    margin-bottom: 6vmin;
  }
  .lernmoment-subheadline {
    font-size: 6vmin;
    margin-bottom: 6vmin;
  }
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  background: url('/assets/images/computer.jpg');
  background-position: center top;
  background-size: cover;
  section {
    padding-top: 15vh;
    padding-bottom: 3vh;
    color: $lm-ci-text;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

header#hero {
  min-height: 100vh;
  section {
    padding-top: 40vh;
  }
}

.content {
  min-height: 50vh;
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.cta-row {
  text-align: center;
  padding: 0;
  div {
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: 640px) {
      width: 32.9%;
      padding-left: 20px;
      padding-right: 20px;
    }
  display:inline-block;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-style: italic;
    font-size: 16px;
    max-width: 60%;
    @media screen and (min-width: 640px) {
      height: 160px;
      max-width: 100%;
      margin: auto;
    }
  }
  h3 {
    letter-spacing: 1px;
  }
  .button {
    padding: 0 1em;
    width: 90%;
    @media screen and (min-width: 640px) and (max-width: 770px) {
      font-size: 90%;
    }
    @media screen and (max-width: 640px) {
      width: 60%;
    }
  }
}

.rm-row {
  text-align: center;
  padding: 0;
  div {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: 640px) {
      width: 49.7%;
      padding: 0;
      &:nth-of-type(1) {
        padding-right: 20px;
      }
    }
  display:inline-block;
  }
  p {
    text-align: justify;
    font-style: italic;
  }
}

header {
}

.blog-category-overview {
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  h2 {
    margin-bottom: 0;
  }
  .post-date {
    text-align: right;
    margin-bottom: 15px;
    font-family: monospace;
  }
}

.subscribe-notice {
  @include box-shadow();
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
  .subscribe-notice-button {
    margin-top: 10px;
  }
}

.post-preview {
  @include box-shadow();
  margin-bottom: 50px;
  padding: 20px;
  .entry-feature-image-wrapper {
    height: 35px;
    width: 100%;
    overflow: hidden;
    .entry-feature-image {
      min-height: 100%;
      min-width: 100%;
    }
  }
}

.blog-category-wrapper {
  overflow: auto;
  a {
    color: $lm-ci-text;
  }
  // Colors taken from Microsoft Website for .net and c#: https://docs.microsoft.com/de-de/dotnet/
  #einsteiger {
    background: rgb(108,66,156);
  }
  #fortgeschrittene {
    background: rgb(30,158,36);
  }
  #iterationen {
    background: $lm-ci;
  }
}

.blog-category-box {
  @include box-shadow();
  width: 80%;
  float: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  h2 {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.course, .about {
  @include box-shadow();
  position: relative;
  padding: 10px;
  margin-bottom: 50px;
  padding-left: 20px;
  z-index: 2;
  .top-img {
    position: absolute;
    right: 10px;
    top: 10px;
    max-height: 100%;
    max-width: 20%;
    @media only screen and (max-width : 480px) {
      position: initial;
      max-width: 100%;
    }
  }
  .float-left-img {
    margin-top: 1em;
    padding-right: 15px;
    float: left;
    max-width: 100%;
    @media only screen and (max-width : 480px) {
      padding: 0;
    }
  }
  .float-right-img {
    margin-top: 1em;
    padding-left: 15px;
    float: right;
    max-width: 100%;
    @media only screen and (max-width : 480px) {
      padding: 0;
    }
  }
  h2, h3, button {
    max-width: 80%;
  }
  .course-button-wrapper {
    width: 100%;
    text-align: center;
  }
}

.course-full {
  @include box-shadow();
  position: relative;
  padding: 20px;
  margin-bottom: 50px;
  h2, h3, h4, button {
    text-align: center;
    max-width: 100%;
  }
  h4 {
    margin-bottom: 10px;
  }
  p {
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
  }
  ul {
    // list-style: none;
    // text-align: center;
    max-width: 100%;
    // padding: 0;
    // margin: 0;
  }
  img, iframe {
    @include responsive-block();
  }
  .course-button-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
}

.tutorial-full {
  @include box-shadow();
  position: relative;
  padding: 20px;
  margin-bottom: 50px;
  h2, h3, h4, button {
    text-align: center;
    max-width: 100%;
  }
  h4 {
    margin-bottom: 10px;
  }
  p {
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
  }
  ol {
    text-align: left;
    padding-left: 20%;
  }
  img, iframe {
    @include responsive-block();
  }
  .course-button-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
}

.post {
  .entry-feature-image {
    max-width: 100%;
  }
}


.course-promo {
  @include box-shadow();
  padding: 40px;
  text-align: center;
  margin: 20px;
  position: relative;
  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    max-height: 150px;
    max-width: 100%;
  }
  h2, h3, button {
    text-align: center;
  }
}

@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  20%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
  }
  50%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  60%{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
  }
  80%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-30px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-15px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}

.jump-arrow {
  font-size: 30px;
  font-weight: bold;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-animation: jump 1.5s ease 0s 5 normal;
  animation: jump 1.5s ease 0s 5 normal;
}

.iteration {
  iframe {
    @include responsive-block();
    min-width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    min-height: 200px;
    @media screen and (min-width: 480px) {
      min-height: 300px;
    }
    @media screen and (min-width: 570px) {
      min-height: 400px;
    }
  }
  h3, p {
    margin: 0;
  }
  li {
    margin-bottom: 15px;
  }
  ol {
    padding: 20px 50px;
    margin-bottom: 50px;
    background-color: $lm-ci;
    color: $lm-ci-text;
    a {
      color: $lm-ci-text;
      &:hover {
        color: $lm-card-bg;
      }
    }
  }
}

.readmore {
  text-align: right;
  text-decoration: overline;
}

.read-also {
  margin: 30px 0;
  div {
    float: left;
    text-align: center;
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.clearfix {
  &:before,
  &:after {
  content: " ";
  display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1; // Stupid fix for stupid old IEs
}